body {
	margin: 0;
	background-color: #007902
}

.sky {
	background-image: url("../img/sky.png");
	background-repeat: no-repeat;
	height: 600px;
	width: 100%;
	display: block;
	position: relative;
}

.extrasky {
	width: 100%;
	height: 368px;
	background-color: #083178;
	top: 0px;
	left: 750px;
	position: absolute;
}

.path {
	 background-image: url("../img/path.png");
	 height: 600px;
	 width: 800px;
	 display: block;
	 position: relative;
}

.graveyard {
	background-image: url("../img/graveyard.png");
	 height: 600px;
	 width: 800px;
	 display: block;
	 position: relative;
}

.house {
	position: absolute;
	width: 100px;
	text-align: center;
}

.icon {
	width: 60px;
	height: 60px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	background-image: url("../img/house.png");
	background-position: center;
}

.a {
	left: 15px;
	top: 60px;
}

.b {
	left: 220px;
	top: 70px;
}

.c {
	left: 350px;
	top: 50px;
}

.d {
	left: 550px;
	top: 60px;
}

.e {
	left: 750px;
	top: 150px;
}

.f {
	left: 730px;
	top: 300px;
}

.g {
	left: 560px;
	top: 200px;
}

.h {
	left: 400px;
	top: 200px;
}

.i {
	left: 150px;
	top: 200px;
}

.j {
	left: 120px;
	top: 350px;
}

.k {
	left: 250px;
	top: 370px;
}

.l {
	left: 400px;
	top: 400px;
}

.m {
	left: 560px;
	top: 420px;
}

.n {
	left: 340px;
	top: 505px;
}



