---
---

@import "{{ site.theme }}";
body {
  background-color: #fcab35;
}
a {
  color: #a80505;
}
.markdown-body h1 {
    border-bottom: 1px solid black;
}
.markdown-body h2 {
    border-bottom: 1px solid black;
}
