---
---

@import "{{ site.theme }}";

body {
  background-color: #fcab35;
}

a {
  color: #a80505;
}

.markdown-body h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid black;
}
